/*  .cells:hover {
    background-color: black;
}*/

.app {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cells {
    background-color: bisque;
    flex: 1 0 auto;
   
   
}

#container {
    width: 900px;
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 initial;
}

.colored {
    background-color: black;
}