/*  .cells:hover {
    background-color: black;
}*/

.app {
    display: flex;
    align-items: center;
    justify-content: center;
    background: gray;
    padding: 40px;
}
.cells,
.new-cells {
    
    flex: 1 1 auto;
}

.cells {
    width: 100px;
}

#container {
    width: 900px;
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 initial;
    background-color: white;
}

.colored {
    background-color: black;
}